<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.project.mybatisDAO.AccountDao">

  <!-- 유저목록 가져오기(유저아이디 오름차순) -->
  <select id="userList" resultType="com.project.entity.Users">
    select * from Users order by userId desc
  </select>
  
  <!-- 특정유저 보기 -->
  <select id="viewUserDao" resultType="com.project.entity.Users">
    select * from Users where id = #{param1}
  </select>
  
  <!-- 유저추가하기 -->
  <insert id="addUserDao">
  	insert into Users (userId, userPw, userEmail) values (#{param1}, #{param2}, #{param3})
  </insert>
  
  <!-- 유저삭제하기 -->
  <delete id="deleteUserDao">
  	delete from Users where id=#{param1}
  </delete>
  
</mapper>